<header class="bg-light pt-3 pb-md-3 px-3 px-lg-3 d-flex d-md-block align-items-center title border-bottom text-center">
    <h4 class="mb-2 mr-auto mr-md-none bd-title">Dashboard Utilisateur</h4>
  </header>
  <div class="row flex-xl-nowrap">
      <div class="col-12 col-lg-10">
          <main role="main" class="mt-3">
              <ng-container>
                  <div class="container-fluid" >
                    <div class="row flex-xl-nowrap">
                      <div class="col-7 py-2">
                          <div class="card mb-2">
                            <app-user-profil></app-user-profil>
                          </div>
                      </div>
                      <div class="col-7 py-2">
                          <div class="card">
                            <app-user-locations></app-user-locations>
                          </div>
                      </div>
                    </div>
                  </div>
                </ng-container>
              <ng-template #loadingParams>
                  <div class="m-4 alert alert-primary" role="alert">
                    Chargement ...
                  </div>
              </ng-template>
          </main>
      </div>
  </div>

