<div class="card-header text-center">
  <h3>Inventaire des locations</h3>
</div>
<div class="card-body">
<div class="panel panel-primary">
    <!--<div class="panel-heading"><h3 class="panel-title">List Clients</h3></div>-->
      <table class="table table-bordered table-striped" style="text-align: center;">
        <thead class="thead-dark">
          <tr>

            <th class="col-sm-2">Date de debut</th>
            <th class="col-sm-2">Date de fin</th>
            <th class="col-sm-2">Heure debut</th>
            <th class="col-sm-2">Heure fin</th>
            <th class="col-sm-2">Utilisateur</th>
            <th class="col-sm-2">Véhicule</th>
            <th class="col-sm-2">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let r of rentals | async; let i=index">

            <td>{{ r.startDate }}</td>
            <td>{{ r.endDate }}</td>
            <td>{{ r.startHour }}</td>
            <td>{{ r.endHour }}</td>
            <td>{{ r.idUser }}</td>
            <td>{{ r.idVehicule }}</td>
            <td>{{ r.state }}</td>
            <td >
              <button class="btn btn-info btnRounded" [routerLink]="[r.id]"><span class="far fa-edit fa-lg"></span></button>
              &nbsp;
              <button class="btn btn-danger btnRounded"><span class="far fa-edit fa-lg"></span></button></td>
          </tr>
        </tbody>
      </table>
  </div>
</div>

