<div class="card-header text-center">
  <h3>Inventaire des véhicules</h3>
</div>
<div class="card-body">
<div class="panel panel-primary">
  <!--<div class="panel-heading"><h3 class="panel-title">List Clients</h3></div>-->
    <table class="table table-bordered table-striped table-hover" style="text-align: center;">
        <thead class="thead-dark">
        <tr>
          <th class="col-sm-1">Modèle</th>
          <th class="col-sm-1">Marque</th>
          <th class="col-sm-1">Type</th>
          <th class="col-sm-1">Categorie</th>
          <th class="col-sm-1">Couleur</th>
          <th class="col-sm-1">N° Série</th>
          <th class="col-sm-1">Immatriculation</th>
          <th class="col-sm-1">Disponible</th>
          <th class="col-sm-1">Nb place</th>
          <th class="col-sm-1">Etat</th>
          <th class="col-sm-1">Supprimer</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let v of vehicles; let i=index" (click)="bindVehicle(i)">
          <td>{{ v.model }}</td>
          <td>{{ v.brand }}</td>
          <td>{{ v.type }}</td>
          <td>{{ v.category }}</td>
          <td>{{ v.color }}</td>
          <td>{{ v.serialNumber }}</td>
          <td>{{ v.registering }}</td>
          <td>{{ v.available }}</td>
          <td>{{ v.placeNumber }}</td>
          <td>{{ v.state }}</td>
          <td>
            <ng-template #tipDel>Supprimer</ng-template>
            <button class="btn btn-danger btnRounded" [tooltip]="tipDel" [delay]="500"><span class="far fa-trash-alt fa-lg"></span></button>
          </td>
        </tr>
      </tbody>
    </table>
</div>
</div>

