<div class="card">
  <div class="card-header bg-info text-white">Détails de l'utilisateur</div>
  <div class="card-body">
      <div class="row text-center">
        <div class="col-12">
          <h5>Descriptif</h5></div>
      </div>
      <div class="row">
        <div class="col-5">Location Id</div>
        <div class="col-7">toto</div>
      </div>
      <div class="row">
        <div class="col-5">Date de début</div>
        <div class="col-7">toto</div>
      </div>
      <div class="row">
        <div class="col-5">Date de fin</div>
        <div class="col-7">toto</div>
      </div>
      <div class="row">
        <div class="col-5">Heure de début</div>
        <div class="col-7">toto</div>
      </div>
      <div class="row">
        <div class="col-5">Heure de fin</div>
        <div class="col-7">toto</div>
      </div>
      <div class="row">
        <div class="col-5">Id utilisateur</div>
        <div class="col-7">toto</div>
      </div>
      <div class="row">
        <div class="col-5">Id  véhicule</div>
        <div class="col-7">toto</div>
      </div>
      <div class="row">
        <div class="col-5">Etat</div>
        <div class="col-7">toto</div>
      </div>
  </div>
  <div class="card-footer text-center">
    <button type="button" class="btn btn-info btn-sm mr-2">
       Mettre à jour la fiche du véhicule
    </button>
  </div>
</div>
