<div class="card">
    <div class="card-header bg-info text-white">Détails du véhicule</div>
    <div class="card-body">
        <div class="row text-center">
          <div class='col-12'><h5>Descriptif</h5></div>
        </div>
        <div class="row">
          <div class="col-5">Marque</div>
          <div class="col-7">toto</div>
        </div>
        <div class="row">
          <div class="col-5">Modèle</div>
          <div class="col-7">toto</div>
        </div>
        <div class="row">
          <div class="col-5">Type</div>
          <div class="col-7">toto</div>
        </div>
        <div class="row">
          <div class="col-5">Categorie</div>
          <div class="col-7">toto</div>
        </div>
        <div class="row">
          <div class="col-5">Couleur</div>
          <div class="col-7">toto</div>
        </div>
        <div class="row">
          <div class="col-5">Nb Place</div>
          <div class="col-7">toto</div>
        </div>
        <div class="row">
          <div class="col-5">Compteur km</div>
          <div class="col-7">toto</div>
        </div>
        <div class="row">
          <div class="col-5">Disponible</div>
          <div class="col-7">toto</div>
        </div>
        <div class="row">
          <div class="col-5">Etat</div>
          <div class="col-7">toto</div>
        </div>
        <hr>
        <div class="row text-center">
            <div class="col-12"><h5>Identité Préfecture</h5></div>
          </div>
        <div class="row">
          <div class="col-5">Immatriculation</div>
          <div class="col-7">toto</div>
        </div>
        <div class="row">
          <div class="col-5">N° Série</div>
          <div class="col-7">toto</div>
        </div>
        <div class="row">
          <div class="col-5">Date d'achat</div>
          <div class="col-7">toto</div>
        </div>
        <div class="row">
          <div class="col-5">Prix d'achat</div>
          <div class="col-7">toto</div>
        </div>
    </div>
    <div class="card-footer text-center">
      <button type="button" class="btn btn-info btn-sm mr-2">
         Mettre à jour la fiche du véhicule
      </button>
    </div>
  </div>
