<div class="card">
  <div class="card-header bg-info text-white">Détails du véhicule</div>
  <div class="card-body">

      <div class="row">
        <div class="col-5">Nom</div>
        <div class="col-7">{{values.user.prenom}} {{values.user.nom}}</div>
      </div>
      <div class="row">
        <div class="col-5">Badge</div>
        <div class="col-7"><span id="badge">{{values.user.badge}}</span></div>
      </div>
      <hr>
      <div class="row">
        <div class="col-5">
          Participation {{getExercicePrev(values.userPrime.user.prime.exerciceId)}}
        </div>
        <div class="col-7">
          Montant brut : {{values.userPrime.user.prime.uncryptedParticipationAmount | currency:'EUR'}}
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-5">
          Intéressement {{getExercicePrev(values.userPrime.user.prime.exerciceId)}}
        </div>
        <div class="col-7">
          Montant brut : {{values.userPrime.user.prime.uncryptedInteressementAmount | currency:'EUR'}}
        </div>
      </div>
      <hr>
      <div class="alert alert-secondary">
        Dernière validation le {{values.userPrime.arbitrage.validationDate | date:'dd/MM/yyyy'}} à
        {{values.userPrime.arbitrage.validationDate | date:'HH:mm'}}
        par {{values.userPrime.updateUser.prenom}} {{values.userPrime.updateUser.nom}}
      </div>
      <div class="alert alert-warning" *ngIf="values.userPrime.arbitrage.validationDate == null">
        Non validé
      </div>
  </div>
  <div class="card-footer">
    <a class="btn btn-sm btn-primary mr-2 text-white" (click)="action='PRT'">

      Participation
    </a>
    <a class="btn btn-sm btn-primary mr-2 text-white" (click)="action='INT'">

      Intéressement
    </a>
    <a class="btn btn-sm btn-success mr-2 text-white" (click)="action='VAL'">

      Validation et édition de la fiche récapitulative
    </a>
    <button [disabled]="values.userPrime.arbitrage.validationDate == null" type="button" class="btn btn-info btn-sm mr-2" (click)="voirPDF()">
       PDF de dernière validation
    </button>
  </div>
</div>
