<div class="container-fluid header-home">
    <div class="text-center pt-3">
        <h2 class="display-2 font-weight-bold">e-Motion</h2>
    </div>
    <div class="container">
        <div class="row flex-xl-nowrap">
            <div class="col-5 pl-5">
              <div class="car-header">
                <img src="../../../../assets/img/home_car.png">
              </div>
            </div>
            <div class="col-7">
                <div clas="row">
                    <div class="text-center pt-3">
                        <div class="pt-3 pb-2 pl-2">
                            <app-home-search-form></app-home-search-form>
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <div class="text-center pt-3">
              <h4 class="display-3 font-weight-bold">N°1 des sites de location de vehicules électriques</h4>
          </div>
      </div>
</div>
