.car-header {
  background: url(../../../../assets/img/home-car-smile.png) no-repeat center 20px;
  background-color: rgba(0, 0, 0, 0);
  background-position-x: center;
  background-position-y: 20px;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-image: url(../../../../assets/img/home-car-smile.png);
  background-size: auto;
  background-origin: padding-box;
  background-clip: border-box;
  padding-top: 31px;
  float: left;
  background-size: 53%;
}

.header-home {
  background-image: linear-gradient(43deg, #FF9933, #FCC31E, #CCFF33, #99FF00);
}
