<nav class="navbar navbar-expand  py-5 px-0 mb-0" style="background-color: rgb(96, 206, 70)" *ngIf="role === 'anonyme'">
  <a class="navbar-brand py-0 px-3"></a>
</nav>
<nav class="navbar navbar-expand py-3 px-0" *ngIf="isAuthenticated">
  <div class="hexagon">
      <div class="vertical-align:middle;">
        <ng-template #tipProfil>Profile</ng-template>
          <a class="dropdown-item profilIcon" [tooltip]="tipProfil" [delay]="200" [adaptivePosition]="false"
          placement="right" [routerLinkActive]="['active']" [routerLink]="'profil'"><i class="fas fa-user-circle" style="font-size: 2.89999999rem; padding-left: 3px;"></i></a>
          <!--<a class="dropdown-item" style="padding: 0.75rem 1.5rem; font-size: 2.7rem;" [routerLinkActive]="['active']" [routerLink]="'profil'"><i class="fas fa-user"></i></a>-->
      </div>
  </div>
  <!--<button type="button" class="btn btn-light btn-profil" [routerLinkActive]="['active']" [routerLink]="'profil'">Profil</button>-->
</nav>


<nav class="navbar navbar-expand navbar-light bg-light py-0 px-0 mb-0">
  <a class="navbar-brand py-0 px-3" href="#" style="background-color: white">
    <img width="150px" [src]="urlLogo" />
  </a>
  <!-- <div class="float-left collapse navbar-collapse pr-3" id="navbarMain">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <h5 class="mb-0 text-black text-italic nav-link"><span id="appTitle" [innerText]="appTitle"></span></h5>
      </li>
    </ul>
  </div>-->
  <div class="float-left py-3 px-3 pr-3 pl-3">
    <span class="navbar-text text-black">
        <ul class="navbar-nav mr-auto">
          <li id="nav-accueil" class="nav-item pr-3">
              <button type="button" class="btn btn-light" [routerLinkActive]="['active']" [routerLink]="'home'">Accueil</button>
            <!--<a class="nav-link" [routerLinkActive]="['active']" [routerLink]="'home'">Accueil</a>-->
          </li>
          <li id="nav-gestion" class="nav-item pr-3" *ngIf="isAuthenticated && role === 'admin'">
              <button type="button" class="btn btn-light" [routerLinkActive]="['active']" [routerLink]="'gestion'">Administration</button>
          </li>
          <li id="nav-location" class="nav-item pr-3">
              <button type="button" class="btn btn-light" [routerLinkActive]="['active']" [routerLink]="'location'">Location</button>
            <!--<a class="nav-link" [routerLinkActive]="['active']" [routerLink]="'home'">Accueil</a>-->
          </li>
        </ul>
    </span>
  </div>
  <div class="float-center py-3 px-3 pl-3">
    <span class="navbar-text text-black">
      <ul class="navbar-nav mr-auto" style="align-items: center">
        <li id="nav-recherche" class="nav-item">
            <form class="form-inline" >
              <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search"
                aria-label="Search">
              <i class="fas fa-search" aria-hidden="true"></i>
            </form>
          </li>
      </ul>
    </span>
  </div>
  <div class="float-center pr-2">
      <span class="navbar-text text-black">
        <ul class="navbar-nav mr-auto">
            <li id="nav-connexion" class="nav-item" *ngIf="!isAuthenticated">
                <div class="btn-group">
                  <div class="dropdown">
                      <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Connexion
                      </button>
                      <div class="dropdown-menu dropdown-menu-right" style="margin-top:5%;padding:0;">
                          <div class="card" style="padding:0;">
                            <form #loginForm="ngForm" (ngSubmit)="logIn(loginForm.value)" class="px-3 py-4">
                              <table class="tableForm" cellspacing="0" width="100%">
                                <tr>
                                  <td>
                                    <div class="form-group" style="width:100%;">
                                      <label for="mail" style="margin-bottom:0;"><u id="mail">Adresse email</u> :</label>
                                      <input type="email" required class="form-control" placeholder="email@example.com" ngModel name="username" #mail style="height: 2.5rem;">
                                      <!--<div [hidden]="mail.valid" class="alert alert-danger">L'email est obligatoire</div>-->
                                    </div>
                                  </td>
                                </tr>
                                <tr>
                                  <td>
                                    <div fxFlex fxLayout="column">
                                      <div class="form-group">
                                        <label for="password" style="margin-bottom:0;"><u id="password">Mot de passe</u> :</label>
                                        <input class="form-control" required [type]="hideInput ? 'password': 'text'" ngModel name="password" #password style="display:inline-flex;width:75%;height: 2.5rem;">
                                        <!--<div [hidden]="password.valid">Le mot de passe est obligatoire</div>-->
                                        <button class="btn btnHide" type="button" style="width: 25%" (click)="hideInput = !hideInput" >
                                          <span>
                                            <i [ngClass]="hideInput ? 'far fa-eye' : 'far fa-eye-slash'"></i>
                                          </span>
                                        </button>
                                        <div *ngIf="invalidLogin" class="error">
                                          <div>Invalid credentials.</div>
                                        </div>
                                      </div>
                                    </div>
                                  </td>
                                </tr>
                              </table>
                              <div style="text-align:center;margin: 0 auto 0 auto">
                                  <button *ngIf="loginForm.form.valid" type="submit" class="btn btn-card btn-primary"
                                  [disabled]="!loginForm.form.valid" click="reset()">Connexion</button>
                              </div>
                            </form>
                            <div class="dropdown-divider"></div>
                            <div style="margin-bottom: 2%;">
                                <a class="dropdown-item" [routerLink]="'register'">Vous n'avez pas encore de compte ?<br>Inscrivez-vous !</a>
                            </div>
                          </div>
                      </div>
                  </div>
                </div>
            </li>
          <li id="nav-deconnexion" class="nav-item" *ngIf="isAuthenticated">
              <button type="button" (click)="logOut()" class="btn btn-light">Déconnexion</button>
          </li>
        </ul>
      </span>
    </div>
</nav>
