<nav class="navbar navbar-expand navbar-light bg-light py-0 px-0 mb-0">
  <a class="navbar-brand py-0 px-3" href="#" style="background-color: white">
    <img width="150px" [src]="urlLogo" />
  </a>
  <div class="float-left py-3 px-3 pr-3 pl-3">
    <span class="navbar-text text-black">
        <ul class="navbar-nav mr-auto">
          <li id="nav-accueil" class="nav-item pr-3">
              <button type="button" class="btn btn-light" *ngIf="role !== 'admin'" [routerLinkActive]="['active']" [routerLink]="'home'">Accueil</button>
          </li>
          <li id="nav-location" class="nav-item pr-3">
              <button type="button" class="btn btn-light" *ngIf="role !== 'admin'" [routerLinkActive]="['active']" [routerLink]="'trouverlocation'">Location</button>
          </li>
        </ul>
        <div id="nav-welcome" class="float-left pl-4" *ngIf="user && role === 'admin'">
          <div class="card badge badge-secondary">
            <div class="card-header bg-info text-white py-3" style="font-size:14px;">
              <span>Welcome to Administration page </span>
            </div>
          </div>
        </div>
    </span>
  </div>
  <!-- <div class="float-center py-3 px-3 pl-3">
    <span class="navbar-text text-black">
      <ul class="navbar-nav mr-auto" style="align-items: center">
        <li id="nav-recherche" class="nav-item">
            <form class="form-inline" >
              <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search"
                aria-label="Search">
              <i class="fas fa-search" aria-hidden="true"></i>
            </form>
          </li>
      </ul>
    </span>
  </div> -->
  <div class="float-center pr-2">
      <span class="navbar-text text-black">
        <ul class="navbar-nav mr-auto">
            <li id="nav-connexion" class="nav-item" *ngIf="!user">
                <button class="btn btn-light" type="button" [routerLink]="'connexion'">
                  Connexion
                </button>
            </li>
          <li id="nav-deconnexion" class="nav-item" *ngIf="user">
              <button type="button" (click)="logOut()" class="btn btn-light">Déconnexion</button>
          </li>
        </ul>
      </span>
    </div>
    <div class="hexagon" *ngIf="user">
        <div class="vertical-align:middle;">
            <ng-template #tipProfil>Profile</ng-template>
            <a class="dropdown-item profilIcon" [tooltip]="tipProfil" [delay]="200" [adaptivePosition]="false"
               placement="right" [routerLinkActive]="['active']" [routerLink]="'profil'"><i class="fas fa-user-circle" style="font-size: 2.89999999rem;"></i></a>
            <!--<a class="dropdown-item" style="padding: 0.75rem 1.5rem; font-size: 2.7rem;" [routerLinkActive]="['active']" [routerLink]="'profil'"><i class="fas fa-user"></i></a>-->
        </div>
    </div>
</nav>
