<div>
  <div class="text-center text-black">
      <h1 class="display-2 font-weight-bold">e-Motion</h1>
      <h2 class="display-3 font-weight-bold">N°1 des sites de location de vehicules électriques</h2>
      <p class="h4 font-weight-light">
          Choisissez une date et un type de véhicule :
      </p>
      <p class="h4 font-weight-light">
          calendrier / selectTypeVehicule
      </p>
      <p class="h4 font-weight-light">
          <a class="btn btn-success btn-lg" href="#" role="button" routerLink="#">
              <strong>Lancer la recherche</strong>
          </a>
      </p>
  </div>
</div>
