<div class="card">
  <div class="card-header bg-info text-white">Détails de l'utilisateur</div>
  <div class="card-body">
      <div class="row text-center">
        <div class="col-12">
          <h5>Dénomination</h5></div>
      </div>
      <div class="row">
        <div class="col-5">User Id</div>
        <div class="col-7">toto</div>
      </div>
      <div class="row">
        <div class="col-5">Prénom</div>
        <div class="col-7">toto</div>
      </div>
      <div class="row">
        <div class="col-5">Nom</div>
        <div class="col-7">toto</div>
      </div>
      <div class="row">
        <div class="col-5">Date de naissance</div>
        <div class="col-7">toto</div>
      </div>
      <div class="row">
        <div class="col-5">N° de téléphone</div>
        <div class="col-7">toto</div>
      </div>
      <div class="row">
        <div class="col-5">N° de permit</div>
        <div class="col-7">toto</div>
      </div>
      <hr>
      <div class="row text-center">
        <div class="col-12">
          <h5>Identification</h5></div>
      </div>
      <div class="row">
        <div class="col-5">Email</div>
        <div class="col-7">toto</div>
      </div>
      <div class="row">
        <div class="col-5">Mot de passe</div>
        <div class="col-7">toto</div>
      </div>
      <hr>
      <div class="row text-center">
        <div class="col-12">
          <h5>Adresse</h5></div>
      </div>
      <div class="row">
        <div class="col-5">Numéro</div>
        <div class="col-7">toto</div>
      </div>
      <div class="row">
        <div class="col-5">Rue</div>
        <div class="col-7">toto</div>
      </div>
      <div class="row">
        <div class="col-5">Ville</div>
        <div class="col-7">toto</div>
      </div>
      <div class="row">
        <div class="col-5">Etat</div>
        <div class="col-7">toto</div>
      </div>
      <div class="row">
        <div class="col-5">Pays</div>
        <div class="col-7">toto</div>
      </div>
      <hr>
      <div class="row text-center">
          <div class="col-12">
            <h5>Edition</h5></div>
        </div>
      <div class="row">
        <div class="col-6">Date de création</div>
        <div class="col-6">toto</div>
      </div>
      <div class="row">
        <div class="col-6">Date de modification</div>
        <div class="col-6">toto</div>
      </div>
  </div>
  <div class="card-footer text-center">
    <button type="button" class="btn btn-info btn-sm mr-2">
       Mettre à jour la fiche du véhicule
    </button>
  </div>
</div>
