<!--<nav class="navbar navbar-dark bg-dark mt-5 fixed-bottom">
  <div class="navbar-expand m-auto navbar-text">
    Made with <i class="fa fa-heart"></i>
  </div>
</nav>-->

<nav class="navbar navbar-expand navbar-light bg-light py-0 px-0 mb-0 fixed-bottom" style="background-color: rgba(0, 0, 0, 0.9)">
      <div class="navbar-expand m-auto navbar-text">
          <div class="copy">
              &copy; <span [innerText]="yearNow"></span>&nbsp;<span> e-Motus Groupe </span>
          </div>
          <div class="contenu">
            <div class="in">
              &nbsp;

            </div>
          </div>
      </div>

    </nav>

