<div class="container-fluid" class="footer-top">
    <div class="text-center pt-3">
        <h6 class="display-3 font-weight-light">Louer avec e-Motion</h6>
    </div>
    <div class="container">
      <div class="row flex-xl-nowrap justify-content-center">
          <div class="col-4 pl-5">
            <div class="text-center p-1">
              <span class="icon lock-icon"></span>
              <span class="title">Un paiement 100% sécurisé,</span>
              <p class="text">grâce à la vérification 3D Secure, vos données bancaires seront entièrement sécurisées.</p>
            </div>
          </div>
          <div class="col-4 pr-5 pl-5">
              <div class="text-center p-1">
                  <span class="icon marker-icon"></span>
                  <span class="title">Une enseigne de proximité,</span>
                  <p class="text">souple, et engagée localement grâce à un réseau de 150 agences àde la marque e-Motion réparties sur le territoire Français.</p>
              </div>
            </div>
            <div class="col-4 pr-5">
              <div class="text-center p-1">
                  <span class="icon phone-icon"></span>
                  <span class="title">Des professionnels à votre écoute,</span>
                  <p class="text">disponibles 24h/24 pour répondre à toutes vos interrogations et qui s’engagent à maintenir un haut niveau de qualité de service.</p>
              </div>
            </div>
        </div>
    </div>
</div>
