<div class="card-header text-center">
  <h3>Inventaire des Locations</h3>
</div>
<div class="card-body">
<div class="panel panel-primary">
    <!--<div class="panel-heading"><h3 class="panel-title">List Clients</h3></div>-->
      <table class="table table-bordered table-striped" style="text-align: center;">
        <thead class="thead-dark">
          <tr>
            <th class="col-sm-2">Date debut</th>
            <th class="col-sm-2">Date fin</th>
            <th class="col-sm-2">Heure debut</th>
            <th class="col-sm-2">Heure fin</th>
            <th class="col-sm-2">Utilisateur</th>
            <th class="col-sm-2">Véhicule</th>
            <th class="col-sm">Supprimer</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let l of rentals; let i=index" (click)="bindRental(i)">
            <td>{{ l.startDate }}</td>
            <td>{{ l.endDate }}</td>
            <td>{{ l.startTime }}</td>
            <td>{{ l.endTime }}</td>
            <td>{{ l.user.firstName }} {{l.user.lastName}}</td>
            <td>{{ l.vehicle.serialNumber }}</td>
            <td >
                <ng-template #tipDel>Supprimer</ng-template>
                <button class="btn btn-danger btnRounded" [tooltip]="tipDel" [delay]="500"><span class="far fa-trash-alt fa-lg"></span></button></td>
          </tr>
        </tbody>
      </table>
  </div>

