.table th, .table td {
    vertical-align: inherit;
  }

  .table td {
    padding: 0.30rem;
  }

  .table {
    margin-bottom: inherit;
  }

  .btnRounded {
    border-radius: 30%;
  }

  tr:hover {
    cursor: pointer;
  }
